# Cache y configuracion del editor/linter
.vscode/
.ruff_cache/

# Entorno Virtual de Python (para Django)
venv/
env/
.venv/

# Archivos de cache de Python
__pycache__/
*.pyc

# Dependencias de Frontend (para Vue.js)
node_modules/

# Archivos de build o distribucion de Frontend
dist/

# Archivos de variables de entorno (¡MUY IMPORTANTE!)
# Aquí guardas tus contraseñas de MySQL y claves secretas.
.env
.env.local

# Bases de datos y respaldos
# Se ignora la de SQLite por si se crea en alguna prueba
db.sqlite3
# Se ignoran los respaldos locales de la base de datos
*.sql
*.dump

# Archivos de log
npm-debug.log*
yarn-error.log*